:root {
    --backgroundColor: linear-gradient(#554b45de, 70%, #584036);
    --formColor: #8d8b821a;
    --gold: #e7a84a;
    --silver: #99928c;
    --black: #1b0c09;
}

@font-face {
    font-family: norseBold;
    src: url("./Norse-Bold.otf");
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
}

.form-image {
    flex: 1;
    background-image: url(./odin_the_allfather_by_umta-dbf5luv.png);
    background-position: center;
    background-repeat: no-repeat;

}

.interactive-page {
    flex: 2;
    background-image: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.interactive-page-item-container {
    padding-left: 50px;
    padding-right: 50px;
}

.main-msg {
    color: var(--gold);
    font-family: norseBold;
    font-size: 35px;
}

.interactive-page-form-container {
    background-color: var(--formColor);
    padding-top: 40px;
    padding-bottom: 40px;
}

.interactive-page-form-container>.user-info-form>div>label,
input {
    display: block;
}

.interactive-page-form-container>.user-info-form>div>input {
    width: 400px;
}

.interactive-page-form-container>.user-info-form {
    display: grid;
    grid-template-areas:
        "div div"
        "div div"
        "div div";
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    column-gap: 80px;
    row-gap: 20px;
}

.interactive-page-form-container>h3 {
    font-size: 25px;
    margin-top: 0;
}

.interactive-page-form-container>.user-info-form>div {
    width: fit-content;
    height: fit-content;
}

.form-submission-area {
    padding-top: 30px;
}

#form-submit {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: #ce882d91;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
    padding: 2px 9px;
    cursor: pointer;
    background-color: var(--silver);
}

.form-submission-area>p>a {
    font-weight: 500;
    color: rgb(39, 13, 7);
    text-shadow: 1px 1px rgb(124, 119, 117);
    cursor: pointer;
}